<!DOCTYPE html>
<html>
<body>
    <h1>Diagnosa penyakit Diabetes Melitus</h1>
    <form action="/diagnosa" method="POST">
        Pregnancies: <input type="text" name="pregnancies"><br><br>
        Glucose Level: <input type="text" name="glucose"><br><br>
        BMI: <input type="text" name="bmi"><br><br>
        Blood Pressure: <input type="text" name="blood_pressure"><br><br>
        Insulin Level: <input type="text" name="insulin"><br><br>
        Age: <input type="text" name="age"><br><br>
        Diabetes Pedigree Function: <input type="text" name="diabetes_pedigree_function"><br><br>
        Skin Thickness: <input type="text" name="skin_thickness"><br><br>
        <button type="submit">Diagnosa</button>
    </form>
</body>
</html>
